.jominjeong_header_logo{
    margin: 2rem 0; font-family: 'Yomogi', cursive;
}

.jominjeong_header_button{
    margin-bottom: 1.5rem;
}

.jominjeong_footer_logo{
    margin: 2rem 0; font-family: 'Yomogi', cursive;
}

.jominjeong_footer_button{
    margin-top: 1.5rem;
}